/* Triad */
$primary-color: #FF6600;
$primary-complement-color: #B35212;
$secondary-color: #2EFF19;
$tertiary-color: #1C09B3;
$tertiary-complement-color: #3319FF;

/* Grays */
$dark-color: #0F0F0F;
$light-color: #FAFAFA;
$gray-color: #ECECEC;

/* Gradients */
$primary-gray-gradient: linear-gradient(to bottom, $primary-color 80%, #ECECEC 100%);